body {
	font-size:16px;
	line-height:22px;
	height: auto;
	font-family: Georgia, sans-serif;
	color:#373648;
	background-color:#EEEFE5;
}
.center-body {
    margin: auto;
    width: 90%;
    border: 3px solid #73AD21;
    padding: 0 2em 0 2em;
}
hr {
  margin: 1em;
  width: 80%;
}
/* This rule is for images,
so they never exceed
their container's width. */
img {
  max-width: 100%;
}
/*TEXT STYLES
=======================================*/
p {
  font-size: 1em;
}

address {
  display: inline-block;
}

/*LINK STYLES
=======================================*/

a, a:link, a:active {
  text-decoration: none;
  color: #777;
}

a:hover, a:focus {
  color: #29506D;
}

a:visited {
}
