/* MOBILE FIRST LAYOUT STYLES */
/**********************************
GENERAL - 1
***********************************/
/* for site-wide styles, at a pervasive level */

/*#wrapper body content width should only be 940px across,
could potentially be smaller than that. */
#wrapper {
	max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
  /*background: orange;*/
}
a {
  text-decoration: none;
}
/* img responsive - does not exceed container width */
img {
  max-width: 100%;
  /*padding: 2em;*/
}


/* leave three spaces */
/**********************************
HEADING - 2
***********************************/
/* Float the main header to the left, to make room for the hamburger menu. */
/* home page headline fonts */
.heading-group-h1 {
	text-align: center;
	/*margin: 0;*/
	/*float: left;*/
}
.heading-group-h1 h1 {
	font-family: 'Ubuntu', Arial, sans-serif;
	margin: 0;  /*reduces upper & lower margins on the h1 */
}

.heading-group-h1 h2 {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	margin: -5px 0 0;
	font-weight: normal;
}



/**********************************
NAVIGATION - 3
***********************************/


/***********************************
FOOTER - 4
***********************************/
footer {
  font-size: 0.75em;
	text-align: center;
	padding: 25px 0 10px;
	clear: both;
}


/* home page of this site - my portfolio projects */
/**********************************
PAGE: PORTFOLIO - 5
***********************************/



/* about page */
/**********************************
PAGE: ABOUT - 6
***********************************/



/**********************************
PAGE: CONTACT - 7
***********************************/


/* colors for ENTIRE site body */
/**********************************
COLORS - 8
***********************************/




html {
	font-size: 1em;
	line-height: 1.4;
}
/* site body */
body {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-size: 1em;
	/*line-height:22px;*/
	height: auto;
	color:#373648; /* orange */
	/*background-color:#EEEFE5; */ /*light green*/
	background-color: #fff; /*white*/
}

/* link styles */
a:link {color: #d76713; text-decoration:none;}
a:visited {color: #d76713; text-decoration:none;}
a:hover, a:focus {color: #813107; text-decoration:none;}
a:active {color: #d76713; text-decoration:none;}



hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*h3 {
	font-size:1.25em;
	line-height:1em;}
p {
  font-size: 1em;
}*/
/*address {
  display: inline-block;
}*/

/***********************************
HEADER AND NAV
***********************************/

/* .heading-group-h1 h1 */
.site-header h1 {
	/*margin: 15px 0;
	font-size: 1.75em;
	font-weight: normal;
	line-height: 0.8em;*/
}
/* .heading-group-h1 h2 */
.site-header h2 {
	/*font-size: 1.75em;*/

}

/* nav block background color on mobile */
nav {
  background-color: #000; /* black */
}
/* nav links */
nav a:link, nav a:visited, a:active {color: #fff; text-decoration:none;}
nav a:hover, nav a:focus {color: #d76713; text-decoration:none;}

/***********************************
ICONS AND NAV
***********************************/

nav.main-nav.icon-menu::before {
  float: right;
}
.icon-menu::before {
  font-size: 1.5em;
}

.main-nav {
	text-align: center;
  padding: 0.1em;
}

.main-nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}

.main-nav:hover ul {
  display: block;
}

.main-nav li {
  margin-right: .4em;
  font-size: 1.5em;
  padding: .5em .2em;
  border-bottom: 1px solid #ccc;
}

#filters {
  padding: 0;
  list-style: none;
}

.template {
  display: none;
}

.byline {
  color: #777;
}

.byline a {
  font-weight: bold;
  text-decoration: none;
}



/***********************************
PAGE LAYOUT: PORTFOLIO
***********************************/

#rawData-template article {
	margin: 0;
  padding: 0;
}

#projects article {
  float: left;
  width: 45%;
  margin: 2.5%;
  background-color: #f5f5f5;
  color: #bdc3c7;
}


/* MOBILE-FIRST STYLES */

.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.heading-group-h1 {
  /*max-width: 80%;*/
}
#filters select {
  width: 90%;
  margin: .2em 5%;
}
