/* base styles apply to all dynamic states of site */
html {
	font-size: 1em;
	line-height: 1.4;
}
body {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-size:16px;
	line-height:22px;
	height: auto;
	color:#373648;
	background-color:#EEEFE5; /*light green*/
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
.article-body {
  clear: both;
  margin-bottom: 2em;
}
.site-header {
	/*background-image: url("../../img/sutro-ruins_v01.jpg");*/
	background-color:#D3D3D3; /* lightgray */
	padding: 0 0 0 2em;
}
main {
	padding: 0 2em 0 2em;
}
footer {
	padding: 0 2em 0 2em;
}
/*hr {
  margin: 1em;
  width: 80%;
}*/
img {
  max-width: 100%; /* does not exceed container width */
  padding: 2em;
}

/* SITE COLOR STYLES
=======================================*/

/*TEXT STYLES
=======================================*/
h1 {
	font-size:2em;
	line-height:1.5em;
	color:#D56724;
}
/* home page headline font */
#intro {
	font-family: 'Amatic SC', cursive;; font-weight: 700;
	font-size:5em;
}
h2 {
	font-size:1.5em;
	line-height:1.25em;
}
h3 {
	font-size:1.25em;
	line-height:1em;}
p {
  font-size: 1em;
}
address {
  display: inline-block;
}
footer {
  margin-top: 2em;
}

/*LINK STYLES
=======================================*/
a:link {color: #d76713; text-decoration:none;}
a:visited {color: #d76713; text-decoration:none;}
a:hover, a:focus {color: #813107; text-decoration:none;}
a:active {color: #d76713; text-decoration:none;}
