/***********************************
GENERAL
***********************************/
html {
	font-size: 1em;
	line-height: 1.4;
}
/* site body */
body {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-size:16px;
	/*line-height:22px;*/
	height: auto;
	color:#373648;
	/*background-color:#EEEFE5; */ /*light green*/
	background-color: #fff;
}
/* home page headline font */
#intro {
	font-family: 'Amatic SC', Arial; font-weight: 700;
	/*font-size:5em;*/
}
/* link styles */
a:link {color: #d76713; text-decoration:none;}
a:visited {color: #d76713; text-decoration:none;}
a:hover, a:focus {color: #813107; text-decoration:none;}
a:active {color: #d76713; text-decoration:none;}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/***********************************
HEADER AND NAV
***********************************/
/* black header, top h1 and h2 layout, background and text colors */
.heading-group-h1 {
	text-align: center;
	margin: 0;
	background-color: #000;
	color: #fff;
}
/* nav block background color on mobile */
nav {
  background-color: #000;
}
/* nav links */
nav a:link, nav a:visited, a:active {color: #fff; text-decoration:none;}
nav a:hover, nav a:focus {color: #d76713; text-decoration:none;}


/*.article-body {
  clear: both;
  margin-bottom: 2em;
}*/


img {
	/* does not exceed container width */
  /*max-width: 100%;
  padding: 2em;*/
}

/* SITE COLOR STYLES
=======================================*/

/*TEXT STYLES
=======================================*/
h1 {
	/*font-size:2em;
	line-height:1.5em;
	color:#D56724;*/
}

/*h2 {
	font-size:1.5em;
	line-height:1.25em;
}
h3 {
	font-size:1.25em;
	line-height:1em;}
p {
  font-size: 1em;
}
address {
  display: inline-block;
}
footer {
  margin-top: 2em;
}*/
