/* LAYOUT STYLES ARE FOR MEDIA QUERIES */

/* only for screens from 0 to 270px, smartphone vertical */
@media only screen and (max-width: 270px) {
	.main-nav {
		padding-right: 45%; /* when it gets tiny, hamburg menu goes to middle */
	}
	body {
		background-color: red;
	}
}

/* >271px to <480px width targets mobile, smartphone landscape */
@media only screen and (min-width: 271px) and (max-width: 480px) {
	.heading-group-h1 {
		/*text-align: center;*/
		padding-left: 0.5em;
		float: left;
	}
	/*body {
		background-color: navy;
	}*/

  /*#filters select {
    width: 15em;
    margin: .2em .2em;
  }*/
/*
  #filters li {
    width: 20em;
    display: inline;
  }*/
}

/* only screens >481px and <900px width - targets tablets */
@media only screen and (min-width: 481px) and (max-width: 900px) {
	/*body {
		background-color: darkgreen;
	}*/
	.heading-group-h1 {
		text-align: center;
	}

  /*nav.main-nav.icon-menu::before {
    padding: 1em 1em 0 0;
  }
  .heading-group-h1 {
    padding: .1em .1em .1em 2em;
    float: none;
  }
  #filters select {
    width: 15em;
    margin: .2em .2em;
  }
  #filters li {
    width: 20em;
    display: inline;
  }*/
}
/* Styles for how things should look on a larger screen:
 - Hide the hamburger.
 - Main should be all on one row,
 with padding spaced better for a larger screen. */
 /* @media only screen, desktop */

 /* MAKE the portfolio go horizontal 3 at a large size screen */
/* only screens larger than 901px */
@media only screen and (min-width: 901px) {
	body {
		background-color: orange;
	}
  .heading-group-h1 {
		text-align: center;
    /*padding: .1em .1em .1em 2em;
    float: none;*/
  }
  nav.main-nav.icon-menu::before {
    display: none;
  }
  nav.main-nav.icon-menu ul {
    display: inline-block;
       float: left;
       margin-left: 1em;
     }
 .main-nav li {
   display: inline-block;
   padding: 0 3em 0 0;
   list-style: none;
   clear: none;
   border-bottom: none;
 }
}
